@page "/detailedtask/{taskId}"
@inject NavigationManager navigationManager
@using Microsoft.AspNetCore.WebUtilities
@using Siemens.MP.Enums
@using Microsoft.AspNetCore.Identity;
@inject Siemens.MP.Data.Repositories.GenericRepository<Siemens.MP.Entities.Task> TaskRepository
@inject UserManager<UserInfo> userManager
@using Siemens.MP.Entities
@inject NavigationManager NavManager
<link rel="stylesheet" href="/css/DetailedTask.css">
<body>
    <h1><i>@task.Name</i></h1>
    <div class="container upper-container">
        <div class="float-left">
            <label style="font-size:25px"><b><i>Task Description:</i></b></label>
            <div class="card">
                <textarea readonly style="width:700px; height:500px;font-size:20px" class="border-style" rows="5">@task.Description</textarea>
            </div>
           </div>
        </div>
    <div class="container">
        <div class="float-right right-side-container ">
            <ul class="list-group ">
                <li class="list-group-item py-4 border-style size-of-details">Assignee: <img src="/css/bootstrap/img.jpg" alt="John Doe" class="mr-1 mt-1 rounded-circle" style="width:40px;" /> @asignee</li>
                <li class="list-group-item py-4 border-style size-of-details">Reporter: <img src="/css/bootstrap/img.jpg" alt="John Doe" class="mr-1 mt-1 rounded-circle" style="width:40px;" /> @task.CreatedBy.FirstName @task.CreatedBy.LastName</li>
                <li class="list-group-item py-4 border-style size-of-details">
                    Status: 
                        <select @bind="@task.State">
                            @foreach (StateOfTask taskState in Enum.GetValues(typeof(StateOfTask)))
                            {
                                <option value=@taskState>@taskState.ToString()</option>
                            }
                        </select>
                  
                    <button class="btn btn-primary" @onclick="UpdateDB">Update</button>
                </li>

                <li class="list-group-item py-4 border-style size-of-details">
                    Priority:
                    @if (task.PriorityState.Equals(Priority.HIGH))
                    {
                        <span class="badge badge-danger">@task.PriorityState</span>
                    }
                    @if (task.PriorityState.Equals(Priority.MEDIUM))
                    {
                        <span class="badge badge-warning">@task.PriorityState</span>
                    }
                    @if (task.PriorityState.Equals(Priority.LOW))
                    {
                        <span class="badge badge-success">@task.PriorityState</span>
                    }
                </li>
                <li class="list-group-item py-4 border-style size-of-details">Created Date: @task.CreatedAt</li>
                <li class="list-group-item py-4 border-style size-of-details">Due Date: @task.Deadline </li>
                <li class="list-group-item py-4 border-style size-of-details">Remaining Time: @NumberOfDaysRemaining days</li>
            </ul>
            <AuthorizeView Roles="ADMIN,MENTOR">
                <button class="btn btn-primary button2" @onclick="DeleteTask">Delete Task</button>
            </AuthorizeView>
        </div>
    </div>

</body>
@code {

    [Parameter]
    public string taskId { get; set; }
    public TimeSpan difference;
    public int NumberOfDaysRemaining;
    public Siemens.MP.Entities.Task newTask = new Siemens.MP.Entities.Task();
    public int i = 1;
    public IList<UserInfo> userList;
    public string asignee;

    protected override void OnInitialized()
    {
        var uri = navigationManager.ToAbsoluteUri(navigationManager.Uri);

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("taskId", out var taskId))
        {
            var name = taskId.First();
        }
    }
    public IList<Siemens.MP.Entities.Task> tasksList;


    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        userList = userManager.Users.ToList();
        tasksList = await TaskRepository.GetAll();
        if (DateTime.Now < task.Deadline)
        {
            difference = task.Deadline - DateTime.Now;
            NumberOfDaysRemaining = (int)difference.TotalDays;
        }
        foreach(var user in userList)
        {
            if (user.Id == task.UserInfoId)
                asignee = user.FirstName +" "+ user.LastName;
        }
    }

    public Siemens.MP.Entities.Task
       task => tasksList.FirstOrDefault(task => task.Id.ToString() == taskId);
    private void UpdateDB()
    {
        newTask = task;
        TaskRepository.Update(newTask);
    }
    public void DeleteTask()
    {
        TaskRepository.Delete(task.Id);
        NavManager.NavigateTo("/tasks");
    }
}

