@page "/"

@using Siemens.MP.Entities
@inject Siemens.MP.Data.Repositories.GenericRepository<Note> NoteRepository
@inject NavigationManager navigationManager

<h3>Hello, Full Name of Student</h3>
<p></p>

<head>
    <link rel="stylesheet" href="/css/Index.css" />
</head>
<body>
    <div class="card">
        <h5 class="card-header">Actual tasks</h5>
        <div class="card-body">
            <div>
                <h5 class="card-title" style="float:left">Grafic : @now.ToShortDateString().Replace('-', ' ')</h5>
                <button id="0HLPS1QEUG99M" type="button" class="btn btn-outline-info" onclick="popoverFunction()" data-toggle="popover" data-content="Number of Tasks" data-placement="bottom"
                        style="width:80px; height:30px; margin-bottom:0px; margin-left:17px">
                    INFO
                </button>
                <button type="button" class="btn btn-link">Tasks</button>
            </div>

            <p></p>

            <div>
                <div>
                    <p style="float:left; width:90px">To Do:</p>
                    <div class="progress" style="margin:40px; height:25px" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="@nrToDo">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: @firstWidth%; background-color:firebrick" aria-valuemin="0" aria-valuemax="100">@firstWidth%</div>
                    </div>
                </div>

                <div>
                    <p style="float:left; clear:both; width:90px">Ongoing:</p>
                    <div class="progress" style="margin:40px; height:25px" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="@nrOngoing">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: @secondWidth%; background-color:darkorange" aria-valuemin="0" aria-valuemax="100">@secondWidth%</div>
                    </div>
                </div>

                <div>
                    <p style="float:left; clear:both; width:90px">Code review:</p>
                    <div class="progress" style="margin:40px; height:25px" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="@nrCodeReview">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: @thirdWidth%; background-color:mediumpurple" aria-valuemin="0" aria-valuemax="100">@thirdWidth%</div>
                    </div>
                </div>

                <div>
                    <p style="float:left; clear:both; width:90px">Done:</p>
                    <div class="progress" style="margin:40px; height:25px" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="@nrDone">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: @fourthWidth%; background-color:lightseagreen" aria-valuemin="0" aria-valuemax="100">@fourthWidth%</div>
                    </div>
                </div>
            </div>

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Ai <a href="#" class="alert-link">@numberOfUrgentTasks</a> task-uri urgente! <strong>Alert Link.</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" style="background-color:beige">
            <p class="h5">
                <button id="0HLPTKM2659LL" type="button" class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <b>Weekly productivity tracking</b>
                    <div class="spinner-grow spinner-grow-sm text-danger" role="status" style="animation-duration:1s">
                        <span class="sr-only"></span>
                    </div>
                </button>
            </p>
        </div>
        <div class="collapse" id="collapseOne">
            <div class="card-body">

                <LineChart @ref="lineChart" TItem="double" />

                <button id="0HLPT1HBT4CU7" type="button" class="btn btn-outline-light" style="font-size:40px">⇦</button>
                <button id="0HLPT1HBT4CU7" type="button" class="btn btn-outline-light" style="font-size:40px; float:right">⇨</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" style="background-color:#faebd7">
            <p class="h5">
                <button id="0HLPTKM2659LL" type="button" class="btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <b>Note</b>
                    <img src="/css/writing.png" height="20" width="20">
                </button>
            </p>
        </div>
        <div class="collapse" id="collapseTwo">
            <div class="card-body" style="background-color:whitesmoke">
                <ul>
                    @foreach (var note in notes)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color:#fcf5ec">
                            <button class="buttonList" @onclick="ShowNoteContent">@note.Title</button>
                            <p><i>@note.CreatedAt.ToShortDateString()</i></p>
                        </li>
                    }
                </ul>
                <button id="0HLPTP1OMP5O1" type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal" @onclick="OpenModal">
                    Add
                </button>
                @if (ShowModal == true)
                {
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color:#ffffe0">
                                    <input placeholder="Note Title" style="width:400px; background-color:#ffffea" @bind="title" />
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="background-color:#ffffe0">
                                    <textarea style="width:460px; height:400px; background-color:#ffffea" @bind="content"></textarea>
                                </div>
                                <div class="modal-footer" style="background-color:#ffffe0">
                                    <button type="button" class="btn btn btn-success" @onclick="AddNote">Save</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <!--
        @if (ShowContent == true)
    {
        <div class="modal fade show" style="display: block; padding-right: 17px;" tabindex="-1" role="dialog">
            <div id="0HLQ1INKI0E3L" class="modal-backdrop fade show">
            </div>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <i class="fas fa-edit"></i>Employee edit
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="max-height: 20vh; overflow-y: auto;;">
                        <div class="form-group" style="">
                            <label class="">Name</label>
                            <input id="0HLQ1INKI0E3V" type="text" class="form-control" style="" placeholder="Enter name..." _bl_13="">
                        </div>
                        <div class="form-group" style="">
                            <label class="">Surname</label>
                            <input id="0HLQ1INKI0E40" type="text" class="form-control" style="" placeholder="Enter surname..." _bl_14="">
                        </div>
                        <div class="form-group" style="">
                            <label class="">Date of birth</label>
                            <input id="0HLQ1INKI0E41" type="date" class="form-control" style="" placeholder="Pick a date" _bl_15="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="0HLQ1INKI0E3T" type="button" class="btn btn-secondary" style="" _bl_11="">
                            Close
                        </button>
                        <button id="0HLQ1INKI0E3U" type="button" class="btn btn-primary" style="" _bl_12="">
                            Save Changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
    -->


            </div>
        </div>
    </div>

</body>


@code
{
    private int x = 7;
    private int firstWidth = 25;
    private int secondWidth = 10;
    private int thirdWidth = 83;
    private int fourthWidth = 2;

    private int numberOfUrgentTasks = 7;

    private int nrToDo = 4;
    private int nrOngoing = 8;
    private int nrCodeReview = 5;
    private int nrDone = 1;

    private DateTime now = DateTime.Now;

    private string title;
    private string content;
    private IList<Note> notes;
    bool ShowModal = false;
    bool ShowContent = false;


    private void OpenModal()
    {
        ShowModal = true;
    }

    private void CloseModal()
    {
        ShowModal = false;
    }

    private void AddNote()
    {
        if (!string.IsNullOrWhiteSpace(title) && !string.IsNullOrWhiteSpace(content))
        {
            Note newNote = new Note
            {
                Title = title,
                Content = content
            };

            NoteRepository.Insert(newNote);
            OnInitializedAsync();
            ResetFieldToDefault();
            CloseModal();
        }
    }

    private void ResetFieldToDefault()
    {
        title = string.Empty;
        content = string.Empty;
    }

    private void ShowNoteContent()
    {
        ShowContent = true;
    }
    
    
    private void CloseNoteContent()
    {
        ShowContent = false;
    }



    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        notes = await NoteRepository.GetAll();
        //notes = await NoteRepository.GetAsync();
    }




    //public void DeleteNote()
    //{
    //    TaskRepository.Delete(note.Id);
    //}




    LineChart<double> lineChart;

    protected override async System.Threading.Tasks.Task OnAfterRenderAsync(bool firstRender)
    {
        await HandleDraw();
    }


    async System.Threading.Tasks.Task HandleDraw()
    {

        lineChart.AddLabel(Labels);

        lineChart.AddDataSet(GetLineChartDataset());

        await lineChart.Update();
    }

    LineChartDataset<double> GetLineChartDataset()
    {
        return new LineChartDataset<double>
        {
            Label = "number of your done tasks",
            Data = DataHardcode(),
            BackgroundColor = backgroundColors,
            BorderColor = borderColors,
            Fill = true,
            PointRadius = 5,
            BorderDash = new List<int> { }
        };
    }

    string[] Labels = { "week 1", "week 2", "week 3", "week 4", "week 5", "week 6" };  //array --> list
    List<string> backgroundColors = new List<string> { ChartColor.FromRgba(93, 206, 212, 0.5f) };
    List<string> borderColors = new List<string> { ChartColor.FromRgba(50, 191, 195, 1) };


    List<double> DataHardcode()
    {
        var listData = new List<double> { 0, 1, 3, 1, 4, 5 };
        return listData;
    }
}