@page "/"

<h3>Hello, Full Name of Student</h3>
<p></p>

<head>
    <link rel="stylesheet" href="/css/Index.css" />
</head>

<body>
    <div class="card">
        <h5 class="card-header">Task-uile actuale</h5>
        <div class="card-body">
            <div>
                <h5 class="card-title" style="float:left">Grafic : @now.ToShortDateString().Replace('-', ' ')</h5>
                <button id="0HLPS1QEUG99M" type="button" class="btn btn-outline-info" onclick="popoverFunction()" data-toggle="popover" data-content="Number of Tasks" data-placement="bottom"
                        style="width:80px; height:30px; margin-bottom:0px; margin-left:17px">
                    INFO
                </button>
                <button type="button" class="btn btn-link">Tasks</button>
            </div>

            <p></p>

            <div>
                <div>
                    <p style="float:left; width:90px">To Do:</p>
                    <div class="progress" style="margin:40px; height:25px" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="@nrToDo">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: @firstWidth%; background-color:firebrick" aria-valuemin="0" aria-valuemax="100">@firstWidth%</div>
                    </div>
                </div>

                <div>
                    <p style="float:left; clear:both; width:90px">Ongoing:</p>
                    <div class="progress" style="margin:40px; height:25px" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="@nrOngoing">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: @secondWidth%; background-color:darkorange" aria-valuemin="0" aria-valuemax="100">@secondWidth%</div>
                    </div>
                </div>

                <div>
                    <p style="float:left; clear:both; width:90px">Code review:</p>
                    <div class="progress" style="margin:40px; height:25px" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="@nrCodeReview">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: @thirdWidth%; background-color:mediumpurple" aria-valuemin="0" aria-valuemax="100">@thirdWidth%</div>
                    </div>
                </div>

                <div>
                    <p style="float:left; clear:both; width:90px">Done:</p>
                    <div class="progress" style="margin:40px; height:25px" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="@nrDone">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: @fourthWidth%; background-color:lightseagreen" aria-valuemin="0" aria-valuemax="100">@fourthWidth%</div>
                    </div>
                </div>
            </div>

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Ai <a href="#" class="alert-link">@numberOfUrgentTasks</a> task-uri urgente! <strong>Alert Link.</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>



            <LineChart @ref="lineChart" TItem="double" />


            <button id="0HLPT1HBT4CU7" type="button" class="btn btn-outline-light" style="font-size:40px">⇦</button>
            <button id="0HLPT1HBT4CU7" type="button" class="btn btn-outline-light" style="font-size:40px; float:right">⇨</button>

        </div>
    </div>
</body>



@code
{
    private int x = 7;
    private int firstWidth = 25;
    private int secondWidth = 10;
    private int thirdWidth = 83;
    private int fourthWidth = 2;

    private int numberOfUrgentTasks = 7;

    private int nrToDo = 4;
    private int nrOngoing = 8;
    private int nrCodeReview = 5;
    private int nrDone = 1;

    private DateTime now = DateTime.Now;



    LineChart<double> lineChart;

    protected override  async Task OnAfterRenderAsync(bool firstRender)
    {
        await HandleDraw();
    }

    async Task HandleDraw()
    {

        lineChart.AddLabel( Labels );

        lineChart.AddDataSet( GetLineChartDataset() );

        await lineChart.Update();
    }

    LineChartDataset<double> GetLineChartDataset()
    {
        return new LineChartDataset<double>
        {
            Label = "number of your done tasks",
            Data = DataHardcode(),
            BackgroundColor = backgroundColors,
            BorderColor = borderColors,
            Fill = true,
            PointRadius = 5,
            BorderDash = new List<int> { }
        };
    }

    string[] Labels = { "week 1", "week 2", "week 3", "week 4", "week 5", "week 6" };  //array --> list
    List<string> backgroundColors = new List<string> { ChartColor.FromRgba( 93, 206, 212, 0.5f) };
    List<string> borderColors = new List<string> { ChartColor.FromRgba( 50, 191, 195, 1 ) };


    List<double> DataHardcode()
    {
        var listData = new List<double> { 0,1,3,1,4,5};
        return listData;
    }
}