@page "/tasks"
@using Siemens.MP.Entities
@using Siemens.MP.Data
@using Siemens.MP.Enums
@inject Siemens.MP.Data.ApplicationDbContext DbContext

<table class='table' id="tasks">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Deadline</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in tasks)
        {
        <tr>
            <th>@task.Id</th>
            <td>@task.Name</td>
            <td>@task.Description</td>
            <td>@task.Deadline</td>
            <td>@task.State</td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td scope="row">#</td>
            <td>
                <input placeholder="Task Name" @bind="taskName" />
            </td>
            <td>
                <input placeholder="Description" @bind="taskDescription" />
            </td>
            <td>
                <input type="date" @bind="deadline" />
            </td>
            <td>
                <select id="selectstatus" @bind="status">
                    <option value="" selected disabled hidden>Status of task</option>
                    <option value="todo">To do</option>
                    <option value="ongoing">Ongoing</option>
                    <option value="finished">Finished</option>
                </select>
            </td>
        </tr>
    </tfoot>
</table>

<button @onclick="AddTask">Add</button>

@code {

    private string taskName;
    private string taskDescription;
    private DateTime deadline;
    private StateOfTask status;
    private IList<Siemens.MP.Entities.Task> tasks;

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        tasks = DbContext.Tasks.ToList();
    }

    private void AddTask()
    {
        if (!string.IsNullOrWhiteSpace(taskName))
        {
            CreateTaskAndSaveToDB();
            ResetFieldToDefault();
        }
    }

    private void ResetFieldToDefault()
    {
        taskName = string.Empty;
        taskDescription = string.Empty;
    }

    private void CreateTaskAndSaveToDB()
    {
        Siemens.MP.Entities.Task newTask = new Siemens.MP.Entities.Task
        {
            Name = taskName,
            Description = taskDescription,
            Deadline = deadline,
            State = status
        };
        tasks.Add(newTask);
        DbContext.Add<Siemens.MP.Entities.Task>(newTask);
        DbContext.SaveChanges();
    }

}
